<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testpermission">

    <!-- 力天定制版 调用新手引导aar -->
    <uses-feature android:name="android.hardware.wifi" />
    <!-- 力天定制版 调用新手引导aar -->

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="${applicationId}.permission.READ_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.WRITE_SETTINGS" />
    <!-- IMEI号等 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 系统开关 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 	权限 适配中兴V956手机         系统小部件-添加联系人 -->
    <uses-permission android:name="com.android.ContactWidget.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.ContactWidget.permission.WRITE_SETTINGS" />

    <!-- 	权限 适配华为手机         天气插件 -->
    <uses-permission android:name="android.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    <!--
    <uses-permission android:name="com.huawei.android.totemweather.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    -->
    <!-- 关键权限 读取联系人 小部件隐私空间, 我的铃声 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- 关键权限 未读短信 linqiang -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->

    <!-- 关键权限 开机启动 流量电量开机时间计算 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 关键权限 快捷方式直接拨打 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 关键权限 流量监控-->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 二维码扫描,3.8屏蔽
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/> -->

    <!-- 一键清理 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 读取书签,适配中兴机型 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <!-- 安装包大小 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 缓存清理 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />


    <!-- 读取其他桌面的favorites provider的权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lge.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.fede.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adwfreak.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher_donut.permission.READ_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.mylauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.dianxinos.dxhome.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.WRITE_SETTINGS" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 低电量切换提示窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 天气SDK -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 拨号助手 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>

    <!-- 隐私空间 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 快传 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 百度Mo+接入支持 -->
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />

    <!-- ↓↓↓ pass v6 ↓↓↓ -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="com.baidu.permission.SHARE" />

    <!-- ↑↑↑ pass v6 ↑↑↑ -->

    <!-- ↓↓↓ 百度push需要 ↓↓↓ -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- ↑↑↑ 百度push需要 ↑↑↑ -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.testpermission.SampleActivity">

        </activity>
        <activity android:name="com.example.testpermission.TestPermissionActivity">
        </activity>

        <activity android:name="com.example.testpermission.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.THIRD_PKG_CHECK" />
            </intent-filter>
        </activity>
    </application>
</manifest>
